* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main.background{
    background-image: url("img/fondo.jpg");
    background-size: contain;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-personal{
    text-align: center;
    color: white;
}

img{
    border: solid white 5px;
    border-radius: 100%;
}

h1, h2, h3{
    margin-top: 5px;
    font-family: "Texturina";
}

